.DS_Store
.git/
.github/
.gitignore
.gitmodules
.clang-*
.cmake-format

.vscode/

patches/
pkgconfig/
scripts/
test*/
build/
ci/
docs/
example*/

xpacks/
node_modules/

*.tgz

README-*
LICENSE-*
CONTRIBUTING**

Doxyfile
Makefile
img/
include/
logo.drawio.svg

.gitignore

# End

